@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
font-family: "Poppins", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: black;
}

header{
padding: 20px;
width: 100%;
background-color: black;
}

footer{
padding: 20px;
Display: flex;
align-items: center;
flex-direction: column;
}

h1{
text-align: justify;
color: White;
}

.br{
color: #D3d3d3;
}

p{
text-align: center;
color: #D3d3d3;
}

a{
text-decoration: none;
color: #D3d3d3;
}

#nav_list{
Display: flex;
justify-content: space-around;
list-style: none;
}

#myimg{
width: 25%;
border-radius: 100%;
padding-top: 30px;
padding-bottom: 50px;
}

#inic{
Display: flex;
align-items: center;
flex-direction: row;
justify-content: space-around;
background-color: #32004A;
}

#come{
Display: flex;
gap: 30px;
flex-direction: column;
padding-left: 80px;
padding-right: 80px;
padding-top: 35px;
}

.home{
Display:flex;
flex-direction: column;
align-items: center;

}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 3px solid #32004A;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
color: black;
}

tr{
color: #D3d3d3;
}